.footerContainer {
	background: linear-gradient(-90deg, #000000 0%, #00000000 0%, #000000b9 120%);
	box-sizing: border-box;
	width: 100%;
	margin-bottom: -10%;
	text-align: left;
	padding: 90px 2% 0;
	display: inline-block;
	line-height: 1.8;
	font-weight: 400;
	text-decoration: none;
	font-family: "ProximaNova-Light" !important;
	


  }
  
  .footerContainer .footerLeft,
  .footerContainer .footerCenter,
  .footerContainer .footerRight {
	display: inline-block;
	vertical-align: top;
  }
  
  .footerContainer .footerLeft {
	width: 44%;
  }
  
  .footerContainer h3 {
	color: #ffffff;
	font-family: "ProximaNova-Light" !important;
	margin: 0;
  }
  
  #map {
	position: relative;
	margin-top: 0px ; 
	width: 100%;
	height: auto;
  }
  
  .footerText {
	position: relative;
	top: -70px;
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
	font-family: "ProximaNova-Light" !important;
  }
  
  .footer-company-name {
	color: #222;
	font-size: 17px;
	font-weight: normal;
	margin: 0;
  }
  
  .footerContainer .footerCenter {
	width: 34%;
  }
  
  .footerContainer .footerCenter i,
  .footerRight i {
	background-color: #000000;
	color: #ffffff;
	font-size: 40px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin: 10px 15px;
	vertical-align: middle;
  }
  
  .footerRight {
	margin-top: -40px;
  }
  
  .footerRight p,
  .footerContainer .footerCenter p {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
	font-family: "ProximaNova-Light" !important;
	font-size: 17px;
  }
  
  .footerContainer .footerCenter p span {
	display: block;
	font-weight: normal;
	font-size: 17px;
	line-height: 2;
  }
  
  .footerContainer .footerCenter p a {
	color: rgb(205, 205, 205);
	text-decoration: none;
  }
  
  .footerText a:before {
	content: "|";
	font-weight: 300;
	font-size: 20px;
	color: #fff;
	padding-right: 5px;
  }
  
  .footerText .link-1:before {
	content: none;
  }
  
  .footerRight {
	width: 20%;
  }
  
  .footerMap,
  .footerLeft span {
	display: block;
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .footer-icons {
	margin-top: 25px;
  }
  
  .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
  }
  
  .footerlogoEM {
	max-width: 40%;
	max-height: 270px;
  }
  
  @media (max-width: 880px) {
	.fa-envelope {
	  left: 1.1%;
	  position: relative;
	}
  
	.fa-map-marker {
	  left: 0.5%;
	  position: relative;
	}
  
	.footerContainer {
		margin-top: -150px;
	 
	}
  
	.footerCenter {
	  margin-top: -60px;
	}
  
	.footerContainer .footerLeft,
	.footerContainer .footerCenter,
	.footerContainer .footerRight {
	  display: block;
	  width: 100%;
	  
	  margin-bottom: 10px;
	  text-align: center;
	}
  
	.footerContainer .footerCenter i {
	  margin-left: 0;
	}
  
	#map {
	  transform: translateX(-50%);
	  left: 50%;
	  margin-top: 10px;
	}
  }
  
  @media (max-width: 600px) {

	.footerlogoEM {
		max-width: 60%;
	padding-bottom:0% ;
	  }
	.footerContainer {
		margin-top: -150px;
	}
  }
  @media (max-width: 460px) {

	.footerlogoEM {
		max-width: 80%;
	padding-bottom:5% ;
	  }
	.footerContainer {
		margin-top: -140px;
	}
  }
  