
.contenderSliderBackgrounds
{ 
  position: relative;
width:100%;
width:100%;
margin-bottom: 20px;

}
.contenderImagesBackgrounds
{
width:100%;
height: 100%;
position: absolute;


overflow: hidden;
}

.imageBackgrounds
{
position: absolute;
width:100%;
height: 100%;
transition: transform 1s ease;

}
.backgroundsFilter
{ 
width:100%;
height: 100%;
position: relative;
left: 40%;

background-color: rgba(0, 0, 0, 0.773);
left: 50%;
transform: translateX(-50%);

}

.contenterGallery
{ 

width: 80%;
position: relative;
left: 50%;
transform: translateX(-50%);

}

.mainSlider
{
  top: 20px;
position: relative;
width: 100%;
height: 750px;
display: flex;
overflow: hidden;

}




.contendeImages
{
position: absolute;
width:100%;
height: 750px;
display: flex;

transition: transform 3s ease, opacity 0.3s ease;
}








  .mainSlideContender .contenderTitle {
    position: absolute;
 
    width: 50%;
    height: 40px;
    margin-top: 30px;
    z-index: 999;
    overflow: hidden;
  }
  .mainSlideContender .contenderTitle .titleBox {
    width: 100%;
    position: relative;
    height: 50px;
  }
  .mainSlideContender .contenderTitle .titleBox .block {

    width: 0%;
    height: inherit;
    background: #000000;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
  }
  .mainSlideContender .contenderTitle .titleBox .text {


    color: #ffffff;
    background: #ffffff73;
    font-size: 40px;
    font-weight: 600;
 padding-left: 2%;
 padding-right: 2%;



    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
  }



.image
{



  width: 100%;
  height: 700px;

  


  }



  /* Arrows start  */
 .arrows {
    display: flex;

    width: 100%;
    position: absolute;

  }
  .arrow {
    width: 100%;
    height:500px;
   

  }

  /* Arrows end  */
  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



  @media(max-width:900px){
    .mainSlideContender .contenderTitle {
      margin-top: 10px;
      height: 20px;
      width: 100%;
    }
 
    .mainSlideContender .contenderTitle .titleBox .text {


 

      font-size: 20px;
  
  
  
    }
    .mainSlider
    {
      top: -2px;
    height: 500px;

    
    }
    
    
    
    
    .contendeImages
    {

    height: 500px;
  

    }
    .image
{




  height: 500px;

  


  }

  .contenterGallery
  { 
  
  width: 100%;

  
  }
  
    
  }

  @media(max-width:600px){

    .contendeImages
    {
      margin-top: 0px;
      height: 350px;
  

    }
    .image
{




  height: 350px;

  margin-top: 0px;


  }

  .mainSlider
  {

    height: 350px;
    margin-top: 0px;
  
  }
  
  }
