
.contenderSliderBackgrounds
{ 
  position: relative;
width:100%;
width:100%;


}
.contenderImagesBackgrounds
{
width:100%;
height: 100%;
position: absolute;


overflow: hidden;
}

.imageBackgrounds
{
position: absolute;
width:100%;
height: 100%;
transition: transform 1s ease;

}
.backgroundsFilter
{ 
width:100%;
height: 100%;
position: relative;
left: 40%;

background-color: rgba(0, 0, 0, 0.773);
left: 50%;
transform: translateX(-50%);

}

.contenterGallery
{ 

width: 60%;
position: relative;
left: 50%;
transform: translateX(-50%);

}

.mainSlider
{
  top: 20px;
position: relative;
width: 100%;
height: 700px;
display: flex;
overflow: hidden;

}




.contendeImages
{
position: absolute;
width:100%;
height: 700px;
display: flex;

transition: transform 3s ease, opacity 0.3s ease;
}




.mainSlideContender .contenderTitle {
  position: absolute;

  width:50%;
  height: 30px;

  overflow: hidden;
}
.mainSlideContender .contenderTitle .titleBox {
  width: 100%;
  position: relative;
  align-items: center;
  
 z-index: 999;
}
.mainSlideContender .contenderTitle .titleBox .block {
  width: 0%;
  height: inherit;
  background: #000000d0;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
 
}
.mainSlideContender .contenderTitle .titleBox .text {

  color: #ffffff;
  font-size: 32px;
  animation: mainFadeIn 0.5s forwards;
  animation-delay: 0.5s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
 
}




.image
{



  width: 100%;
  height: 700px;

  


  }



  /* Arrows start  */
 .arrows {
    display: flex;

    width: 100%;
    position: absolute;

  }
  .arrow {
    width: 500px;
    height:500px;
   

  }

  /* Arrows end  */
  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }