.contenderSliderBackgrounds {
  position:relative;
  width:100%;
  margin-bottom:0
  }
  
  .contenderImagesBackgrounds {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  display:flex
  }
  
  .imageBackgrounds {
  position:absolute;
  width:100%;
  height:100%;
  transition:transform 1s ease
  }
  
  .backgroundsFilter {
  width:100%;
  height:100%;
  position:relative;
  left:40%;
  background-color:#000000c5;
  left:50%;
  transform:translateX(-50%)
  }
  
  .contenterGallery {
  width:80%;
  position:relative;
  left:50%;
  transform:translateX(-50%)
  }
  
  .mainSlider {
  top:20px;
  position:relative;
  width:100%;
  height:750px;
  display:flex;
  overflow:hidden
  
  }
  
  .contendeImages {
  position:absolute;
  width:100%;
  height:750px;
  transition:transform 3s ease,opacity .3s ease
  }
  
  .mainSlideContender .contenderTitle {
  position:absolute;
  width:50%;
  height:46px;
  margin-top:30px;
  z-index:999;
  overflow:hidden
  }
  
  .mainSlideContender .contenderTitle .titleBox {
  width:100%;
  position:relative;
  height:50px
  }
  
  .mainSlideContender .contenderTitle .titleBox .block {
  width:0;
  height:inherit;
  background:#000;
  position:absolute;
  animation:mainBlock 2s cubic-bezier(0.74,0.06,0.4,0.92) forwards;
  display:flex
  }
  
  .mainSlideContender .contenderTitle .titleBox .text {
  color:#fff;
  background:#000;
  font-size:40px;
  font-weight:600;
  padding-left:2%;
  padding-right:2%;
  animation:mainFadeIn 2s forwards;
  animation-delay:1.6s;
  opacity:0;
  display:flex;
  align-items:baseline;
  position:relative
  }
  
  .image {
  width:100%;
  height:700px
  }
  
  .arrows {
  display:flex;
  width:100%;
  height:100%;
  position:absolute;
  border: none;
  }
  
  .arrow {
  width:100%;
  height:100%;
  }
  
  .arrow--left,.arrow--right {
  display:block
  }
  
  .leftMobile,.rightMobile {
  display:none
  }
  
  @keyframes mainBlock {
  0% {
  width:0;
  left:0
  }
  
  50% {
  width:100%;
  left:0
  }
  
  100% {
  width:0;
  left:100%
  }
  }
  
  @keyframes mainFadeIn {
  0% {
  opacity:0
  }
  
  100% {
  opacity:1
  }
  }
  
  @media(max-width:900px) {
  .mainSlideContender .contenderTitle {
  margin-top:10px;
  height:40px;
  width:100%
  }
  
  .mainSlideContender .contenderTitle .titleBox .text {
  font-size:30px
  }
  
  .mainSlider {
  top:-2px;
  height:500px
  }
  
  .contendeImages {
  height:500px
  }
  
  .image {
  height:500px
  }
  
  .contenterGallery {
  width:100%
  }
  }
  
  @media(max-width:600px) {
  .contendeImages {
  margin-top:0;
  height:350px
  }
  
  .image {
  height:350px;
  margin-top:0
  }
  
  .mainSlider {
  height:350px;
  margin-top:0
  }
  }
  
  @media(max-width:450px) {
  .arrow--left,.arrow--right {
  display:none
  }
  
  .leftMobile,.rightMobile {
  display:block;

  }
  
  #arrowMobile {
 

  z-index:999
  }
  
  .mainSlideContender .contenderTitle {
  height:32px
  }
  
  .mainSlideContender .contenderTitle .titleBox .text {
  font-size:25px
  }
  
  .backgroundsFilter {
  background-color:#00000026
  }
  }
  
  @media(max-width:300px) {
  .mainSlideContender .contenderTitle {
  height:22px
  }
  
  .mainSlideContender .contenderTitle .titleBox .text {
  font-size:20px
  }
  }